# Starter pipeline
# This pipeline builds and deploys a Classic Cloud Service.

trigger:
- main

pool:
  vmImage: windows-latest

steps:
- task: NuGetCommand@2
  inputs:
    command: 'restore'
    restoreSolution: '**/*.sln'
    feedsToUse: 'select'
    # TODO 1: Update this to your correct private NuGet Feed ID
    vstsFeed: '88db1bee-c1a6-414b-86b3-643c8fed5097' 

# 2. Use MS build to output the cloud service project configuration and package to the temporary location of the local agent.
- task: VSBuild@1
  inputs:
    solution: '**\*.sln'
    msbuildArgs: '/t:Publish /p:DeployOnBuild=true /p:AutomatedBuild=True /p:configuration=release /p:TargetProfile=Cloud /p:PublishDir="$(System.DefaultWorkingDirectory)/Debug/publish"'

# 3. Copy the configuration and package files to the local path on the agent where any artifacts locate.
- task: CopyFiles@2
  inputs:
    SourceFolder: 'Debug/publish'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

# 4. Copy the definition file to the local path on the agent where any artifacts locate.
- task: CopyFiles@2
  inputs:
    Contents: '*.csdef'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

# Upload the cloud service via Azure File Copy
- task: AzureFileCopy@5
  inputs:
    SourcePath: '${env:BUILD.ARTIFACTSTAGINGDIRECTORY}/*'
    # TODO 2: Update with the name of your Azure Service Connection (e.g., 'MyAzureServiceConnection')
    azureSubscription: 'Azureconnection' 
    Destination: 'AzureBlob'
    # TODO 3: Define these as pipeline variables
    storage: '$(stg_account)'
    ContainerName: '$(stg_container)'
    BlobPrefix: '$(stg_prefix)'
    AdditionalArgumentsForBlobCopy: '--recursive'

# Generate temp SAS token for 5 mins
- task: AzurePowerShell@5
  name: GenerateSasToken
  inputs:
    # TODO 4: Update with the name of your Azure Service Connection (same as above, e.g., 'MyAzureServiceConnection')
    azureSubscription: 'Azureconnection' 
    ScriptType: 'InlineScript'
    Inline: |
      $account_name = ${env:STG_ACCOUNT}
      $account_key = ${env:STG_KEY}
      $context = New-AzStorageContext -StorageAccountName $account_name -StorageAccountKey $account_key
      $sas = New-AzStorageAccountSASToken -Service Blob -ResourceType Service,Container,Object -Permission "rl" -ExpiryTime (Get-Date).AddMinutes(5) -Context $context
      $cspkg = ${env:URL_CSPKG} + $sas
      $cscfg = ${env:URL_CSCFG} + $sas
      Write-Host ("##vso[task.setvariable variable=cspkg]$cspkg")
      Write-Host ("##vso[task.setvariable variable=cscfg]$cscfg")
    azurePowerShellVersion: 'LatestVersion'
    
- task: AzureResourceManagerTemplateDeployment@3
  inputs:
    deploymentScope: 'Resource Group'
    # TODO 5: Update with the name of your Azure Service Connection (same as above, e.g., 'MyAzureServiceConnection')
    azureResourceManagerConnection: 'Azureconnection' 
    # SUBSCRIPTION ID UPDATED
    subscriptionId: '9756bfc1-7130-4993-b257-5cf5212d4b5f' 
    action: 'Create Or Update Resource Group'
    # TODO 6: Update to your target Resource Group Name
    resourceGroupName: 'cloud-shell-storage-westeurope'
    # TODO 7: Update to your target Azure Region (e.g., 'eastus', 'westus2', etc.)
    location: 'Australia Central' 
    templateLocation: 'Linked artifact'
    csmFile: 'ContosoCS.template.json'
    csmParametersFile: 'ContosoCS.parameter.json'
    # CLOUD SERVICE NAME UPDATED
    overrideParameters: '-packageSasUri $(cspkg) -configurationSasUri $(cscfg) -cloudServiceName **mhecmg** -deploymentLabel deploy$(stg_prefix)'
    deploymentMode: 'Incremental'
